{% extends "base.html" %}

{% block content %}
  <div class="container col-md-8 col-md-offset-2">
    <h1> Sponsor Systers </h1>
    <hr>
    <p class="sponsor-us-text">
      Lorem ipsum dolor sit amet, laoreet dissentiet persequeris mea at, quo ex atqui consequat, vel te alii aeterno voluptatibus. Pro nobis dissentiet no. Sed melius nusquam intellegebat id. Nisl timeam per cu, quas viris accusata
      ei eos. Ex quo zril prodesset gloriatur, sea deserunt vituperata in. Debet alterum cotidieque quo at,
      vix et voluptatum disputationi, ei illum nonumy appareat duo. Cum an vidisse suscipit praesent, no duo prompta nonumes.
    </p>
    <p class="sponsor-us-text">
      Eos minim perfecto ne. Sit ei quem oblique noluisse, agam nonumy pri ea, dolores adversarium nec te. Per appetere patrioque molestiae ne, unum quaestio volutpat cu usu, no sumo nonumy usu. Pri te quem reque ocurreret, 
      vix in cibo ullum aeterno.
    </p>
    <div class="mt40"></div>
  </div>
{% endblock %}
